.treeview-container {
    overflow: auto;
}

.treeview-node-container {
    white-space: nowrap;
}

.treeview-cell-container {
    display: inline-block;
    width: 15px;
}

.treeview-textbox-container {
    display: inline-block;
    margin-left: 2px;
}

.treeview-node-active {
    color: #3BB9FF;
}

.treeview-node-container {
    cursor: pointer;
}

.treeview-node-container:hover {
    color: #3BB9FF;
}
