{% extends '../layout/layout.html' %}

{% block style %}
{% parent %}
<link rel="stylesheet" href="/style/common/reactlet-common.css" />
<link rel="stylesheet" href="/node_modules/reactlet-table/dist/table.css" />
{% endblock %}

{% block script %}
{% parent %}
<script src="/script/common/reactlet-mixin.js"></script>
<script src="/script/reactlet/dist/table.js"></script>

{% endblock %}

{% block content %}
<div class="body-container container">
    
    <div class="row">
        <div class="col-md-12">
            <h4>Rectlet Table</h4>
        </div>
    </div>
    
    <div class="row" style="margin-top:20px;">
        <div class="col-md-4">
            <div style="font-size:1.1em;">Proprety Table</div>
            <div id="table0"></div>
        </div>
    </div>
        
    <div class="row" style="margin-top:20px;">
        <div class="col-md-8">
            <div style="font-size:1.1em;">Table</div>
            <div id="table1"></div>
        </div>
    </div>
    
    <div class="row" style="margin-top:20px;">
        <div class="col-md-10">
            <div style="font-size:1.1em;">Table (flex width)</div>
            <div id="table2"></div>
        </div>
    </div>
    
    <div class="row" style="margin-top:20px;">
        <div class="col-md-10">
            <div style="font-size:1.1em;">Paging Table</div>
            <div id="table3"></div>
        </div>
    </div>
</div>
{% endblock %}
