{% extends '../layout/layout.html' %}

{% block content %}
<div class="body-container container">
    
    <div class="row">
        <div class="col-md-12">
            <h4>Reactlet Demo</h4>
        </div>  
    </div>
    
    <div class="row">
        <div class="col-md-12">
            <ul style="list-style-type:none;padding-left:0px;font-size:1.1em;">
                <li>
                    <a href="/reactlet/page/treeview">Treeview</a>
                </li>
                <li>
                    <a href="/reactlet/page/table">Table</a>
                </li>
                <li>
                    <a href="/reactlet/page/calendar">Calendar</a>
                </li>
            </ul>
        </div>  
    </div>
    
</div>
{% endblock %}
